﻿@model TrueWheels.Web.Models.UpdateCred

@{
    ViewBag.Title = "ForgotPassword";
}
<script type="text/javascript">
    jQuery(document).ready(function ($) {

        var sessionValue = $("#hdnSession").data('value')
        alert(sessionValue)
    });
</script>
<script src="~/Content/js/vendor/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@if (Session["OTPConfirmed"] == null)
{
    { Html.BeginForm("forgotPassword", "TrueWheelsUser", FormMethod.Post); }

    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row" style="margin-top:20px">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form role="form">
                    <fieldset>
                        <h2>Forgot Password? </h2>
                        <hr class="colorgraph">
                        @Html.ValidationMessageFor(model => model.Mobile)
                        <div class="row">

                            <div class="form-group col-xs-6 col-sm-6 col-md-6 ">
                                @*<input type="text" name="Mobile" id="Mobile" class="form-control input-lg" placeholder="Mobile No.">*@
                                @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control input-lg", @placeholder = "Mobile No.", @tabindex = "1", @type = "text" })
                            </div>
                            <div class="row">
                                <div class="col-xs-3 col-sm-3 col-md-3 col-sm-offset-1 col-md-offset-1">
                                    <input type="submit" class="btn btn-lg btn-success btn-block" id="Login" value="Proceed">
                                </div>
                                <input type="hidden" id="hdnSession" data-value="@Request.RequestContext.HttpContext.Session["OTPConfirmed"]" />
                            </div>

                        </div>
                        <hr class="colorgraph">


                    </fieldset>
                </form>
                <form></form>
            </div>
        </div>
    </div>
{ Html.EndForm(); }
}
else if(Session["OTPConfirmed"] != null && (Session["OTPConfirmed"]).ToString().ToUpper() == "TRUE")
{
    {
        Html.BeginForm("ChangePassword", "ForgotPassword", FormMethod.Post);
      }

        @Html.AntiForgeryToken()
        <div class="container">
            <div class="row" style="margin-top:20px">
                <div class="form-horizontal">
                    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                        <form role="form">
                            <fieldset>
                                <h2>Change Password</h2>
                                <hr class="colorgraph">
                                @Html.ValidationMessageFor(model => model.Password)
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control input-lg", @placeholder = "Password", @tabindex = "5", @type = "password" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control input-lg", @placeholder = "Confirm Password", @tabindex = "6", @type = "password" })
                                </div>
                               
                                <hr class="colorgraph">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-xs-offset-9 col-sm-offset-9 col-md-offset-9">
                                        <input type="submit" class="btn btn-lg btn-success btn-block" id="Login" value="OK">
                                    </div>
                                   
                                </div>
                            </fieldset>
                        </form>
                    </div>

                </div>
            </div>
          
        </div>

   { Html.EndForm(); }
}





<div>
    @Html.ActionLink("Back to List", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


