﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
    <script src="@Url.Content("~/Content/Jquery/tablesorter/themes/blue/style.css")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/Jquery/tablesorter/jquery.tablesorter.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/Content/Jquery/tablesorter/addons/pager/jquery.tablesorter.pager.js")" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("table.tablesorter").tablesorter({ widthFixed: true, sortList: [[0, 0]] })
            .tablesorterPager({ container: $("#pager"), size: $(".pagesize option:selected").val() });

        });
        
    </script>
   
</head>
<body>
    <div>
        <table id="myTable" class="tablesorter">
            <thead>
                <tr>
                    <th>Last Name<span class="caret"></span></th>
                    <th>First Name</th>
                    <th>Email</th>
                    <th>Due</th>
                    <th>Web Site</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Smith</td>
                    <td>John</td>
                    <td>jsmith@gmail.com</td>
                    <td>$50.00</td>
                    <td>http://www.jsmith.com</td>
                </tr>
                <tr>
                    <td>Bach</td>
                    <td>Frank</td>
                    <td>fbach@yahoo.com</td>
                    <td>$50.00</td>
                    
                    <td>http://www.frank.com</td>
                </tr>
                <tr>
                    <td>Doe</td>
                    <td>Jason</td>
                    <td>jdoe@hotmail.com</td>
                    <td>$100.00</td>
                    <td>http://www.jdoe.com</td>
                </tr>
                <tr>
                    <td>Conway</td>
                    <td>Tim</td>
                    <td>tconway@earthlink.net</td>
                    <td>$50.00</td>
                    <td>http://www.timconway.com</td>
                </tr>
            </tbody>
        </table>
        <div id="pager" class="pagesize">
            <select class="pagesize">
                <option value="5">5</option>
                <option value="2">2</option>
            </select>
        </div>
    </div>
</body>
</html>